@import "variables";
@import "mixin";

:host {
  margin: 15px auto;
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
  padding: 0 $layout-gap--left-mobile 0 $layout-gap--right-mobile;

  @include media-queries(tablet) {
    margin: 30px auto;
  }

  @include media-queries(desktop) {
    margin: 40px auto;
    padding: 0 $layout-gap--left-desktop 0 $layout-gap--right-desktop;
  }
}
