<app-loadable-content [loadable]="loaded$ | async">
  <section class="beer-details" *ngIf="beer">
    <h1 class="beer-details__title">More Info</h1>
    <h2 class="beer-details__name" [innerText]="beer.name"></h2>
    <h3 class="beer-details__description" [innerText]="beer.description"></h3>
    <p class="beer-details__first-brewed">First brewed: {{beer.first_brewed}}</p>
    <p class="beer-details__abv">Abv: {{beer.abv}}%</p>
    <p class="beer-details__og">Og: {{beer.target_og}}</p>
    <p class="beer-details__ibu">Ibu: {{beer.ibu}}</p>
    <p class="beer-details__yeast" *ngIf="beer && beer.ingredients.yeast">Yeast: {{beer.ingredients.yeast}}</p>
    <p class="beer-details__tips">Brewers tips: {{beer.brewers_tips}}</p>
    <div class="beer-details__food-pairing" *ngIf="beer.food_pairing">
      <h3>Food pairing:</h3>
      <p *ngFor="let pairing of beer.food_pairing">- {{pairing}}</p>
    </div>
    <section class="beer-details__hops" *ngIf="beer && beer.ingredients && beer.ingredients.hops as hops">
      <h3>Hops:</h3>
      <p *ngFor="let item of hops">- {{item.name}}</p>
    </section>
    <section class="beer-details__malts" *ngIf="beer && beer.ingredients && beer.ingredients.malt as malt">
      <h3>Malts:</h3>
      <p *ngFor="let item of malt">- {{item.name}}</p>
    </section>
    <section class="beer-details__contributed-by">
      <h3>Contributed by: </h3>{{beer.contributed_by}}
    </section>
    <img class="beer-details__img" [src]="beer.image_url" *ngIf="beer.image_url else noImage">
  </section>
</app-loadable-content>

<ng-template #noImage>
  <div class="beer-item__no-photo"></div>
</ng-template>

